.backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: var(--btn-bg-color);
  border-color: whitesmoke;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--btn-bg-color);
  border: 18px solid whitesmoke;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: whitesmoke;
  border: 18px solid var(--btn-bg-color);
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
@keyframes yinYang {
  100%{transform: rotate(360deg)}
}