:root {
  --main-bg-color: #23272f;

  --text-color:#fff;

  --btn-bg-color:#383b3f;
  --btn-text-color:#fff;

  --card-bg-color:#343a46;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color:#000;

    /* --btn-bg-color:#16444f;
    --btn-text-color:#57C4DC; */
    --btn-text-color:#16444f;
    --btn-bg-color:#57C4DC;

    --card-bg-color:#ebebf0;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #23272f;
    --text-color:#fff;

    --btn-bg-color:#383b3f;
    --btn-text-color:#fff;

    --card-bg-color:#343a46;
  }
}
